@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');

.header {
    position: relative;
    width: 80%;
    height: 50%;

    margin-top: 25vh;
    margin-right: 25vh;
    margin-left: 10%;
    display: flex;

    .text {
        width: 50%;
        height: 100%;

        display: inline;  
        text-align: left;
        

        h1 {
            font-size: 100px;
            font-family: 'Ubuntu', sans-serif;   
            margin-top: 10vh;
            font-weight: 500;
            color: rgb(141, 141, 141);
        }
        h2 {
            font-size: 50px;
            margin-top: -5vh;
            font-weight: 300;
            color: white;
        }
        h3 {
            font-weight: 100;
            text-align: justify;
            color: rgba(255, 255, 255, 0.658);
        }

        .btn {
            width: 200px;
            height: 40px;
            border-radius: 15px;
            border: 3px solid rgba(27, 177, 214, 0.514);
            background-color: transparent;
            color: white;

            a {
                color: white;
                text-decoration: none;
            }
        }
        .btn:hover {
            background-color: rgba(27, 187, 192, 0.5);
            border: none;
            transition: .5s ease;
        }
    }

    .image {
        width: 60%;
        .cont {
            width: 60%;
            height: 110%;

            margin-left: 15vh;
            margin-right: 15vh;
            z-index: 1;

           
        }
    }
}
