

#slider {
    position: relative;
    width: 100%;
    height: 100vh;
    margin-top: 30vh;


    h1 {
        font-size: 50px;
        color: white;
    
      }
    

    .container-md {
        display: flex;
        margin-top: 10vh;
        margin-left: auto;
        margin-right: auto;
        width: 85%;
        height: 80%;
        flex-wrap: wrap;
        align-items: center;

        .col {
            width: 28%;
            height: 40%;
            background-color: rgba(0, 0, 0, 0.425);
            margin-left: 2.5%;
            margin-right: 2.5%;
            margin-top: 2vh;
            border-radius: 15px ;
            backdrop-filter:blur(5px);
            position: relative;


            img {
                width: 80%;
                height: 50%;
                padding-bottom: 5%;
                margin-top: 15%;

            }

        }
        .col:hover {
            background-color: rgba(0, 0, 0, 0.836);
            transition: .3s ease;

        }
    }
    
}

@media (max-width:650px) {

    #slider {
        .container-md {
            width: 100%;
            display: inline;

            .col {
                width: 60%;
                margin-top: 3vh;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    
}