

#about {
    width: 100%;
    height: 80vh;

    margin-top: 20vh;
    position: relative;

    h1 {
        font-size: 40px;
        color: white;
    }

    .list {

        width: 80%;
        height: 40vh;
        margin-left: 15%;

        display: flex;
        margin-top: 10vh;

        .col {
            
            display: inline;
            .row {
                width: 55%;
                height: 70%;
                background-color: rgba(26, 22, 22, 0.795);
                margin-left: 7%;
                border-radius: 50%;
    
                
            }
            h2 {
                
                margin-top: 5vh;
                font-weight: 400;
                margin-left: -15vh;
                color: white;
                
            }
            h3 {
                font-weight: 100;
                margin-bottom: 10vh;
                margin-left: -5vh;
                margin-right: 5vh;
                color: white;
            }
        }

        
    }
}

@media (max-width:650px) {
    

    #about {
        width: 100%;
        height: 100vh;

        margin-top: 0vh;

        h1 {
            margin-top: 20vh;
            margin-left: auto;
            margin-bottom: 5vh;
        }

        .list {

            width: 100%;
            display: inline-block;
            margin-left: auto;
            margin-right: auto;

            

            .col {
                width: 100%;
                margin-left: auto;
                background-color: yellow;
                .row {
                    width: 60%;
                    height: 70%;
                    background-color: rgba(26, 22, 22, 0.795);
                    margin-left: auto;
                    margin-right: auto;
                    border-radius: 50%;
    
                   
                }
                h2, h3{
                    width: 100%;
                    margin-left: auto;
                }
            }
            
    
        }
    }

    
}